.home {
  display: flex;

  .home__container {
    flex: 6;

    .widgets,
    .charts {
      display: flex;
      padding: 20px;
      gap: 20px;
    }

    .charts {
      padding: 5px 20px;
    }

    .list__container {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(132, 132, 132, 0.47);
      padding: 20px;
      margin: 20px;
      border-radius: 10px;

      .list__title {
        font-weight: 500;
        font-size: 15px;
        color: gray;
        margin-bottom: 10px;
      }
    }
  }
}
